/*-- scss:defaults --*/
$theme-darkblue: #01364C;
$theme-blue: #99D9DD;
$theme-white: #F7F8F9;
$theme-yellow: #F4BA02;
$theme-baige: #e8e1c6;
$theme-brown: #57342d;
$theme-red: #a51031;

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?Playfair+Display&display=swap');

$body-bg: $theme-baige;
$body-color: $theme-brown;
$link-color: $theme-red;
$presentation-heading-color: lighten($theme-brown, 15%);

$font-family-sans-serif: 'IBM Plex Serif', serif;
$presentation-heading-font: 'Playfair Display', sans-serif;
$presentation-font-size-root: 30px;

/*-- scss:rules --*/

.sectionhead {
  font-size: 0.6em;
  text-align: center;
  color: $presentation-heading-color;
  font-family: $presentation-heading-font;
  background-color: $body-bg;
  margin: 1px;
  padding: 2px 2px 1px 1px;
  width: 25px;
  border-left: 0px solid;
}
